/src/ClientLib/node_modules
/src/ClientLib/project.lock.json
/src/Org.App.Controllers/project.lock.json
/src/Web/bin/Debug/net462
/src/Web/obj/Debug/net462
/src/Web/wwwroot/lib/npmlibs
/.vs/Angular2App/v14/.suo
/src/ClientLib/node_modules
/src/Web/project.lock.json
